# =========================

# Python cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Dataset / Images

# =========================

archive/
imgs/
*.jpg
*.jpeg
*.png

# =========================

# Output results

# =========================

output/
results/

# =========================

# Database / model files

# =========================

*.h5
*.pt
*.pth
*.pkl

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# Logs

# =========================

*.log
